{% extends "medical/base_medical.html" %}

{% block title %}Patient List{% endblock %}

{% block content %}
<container class="container">
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Patients</h1>
    <a id="add-btn-patient" class="btn btn-primary" href="/medical/patients/create" title="Create Patient">➕</a>
</div>
{% if patient_list %}
    <ul class="list-group">
    {% for patient in patient_list %}
        <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h2><a href="/medical/patient/{{ patient.id }}/">{{ patient.first_name }} {{ patient.last_name }}</a></h2>
                <a id="edit-btn-patient-{{ patient.id }}" class="btn btn-primary" href="/medical/patients/edit/{{ patient.id }}/" title="Edit Patient">✏️</a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No patients available.</p>
{% endif %}
</container>
{% endblock %}